<section class="card">
  <header class="card-divider">
    <h3 class="uk-card-title"> Id:{{ clothing.id }}</h3>
  </header>
  <img src="assets/clothing_placeholder.png" alt="no image avaible" />
  <footer class="card-section">
    <ul class="menu align-center">
      <li>
        <a data-tooltip title="Modifica Risorsa" [routerLink]="['./', clothing.id]">
          <i class="fi-pencil"></i>
        </a>
      </li>
      <li>
        <a data-tooltip title="Elimina Risorsa">
          <i class="fi-trash"></i>
        </a>
      </li>
    </ul>
  </footer>
</section>