div.right{
    text-align: right;
}
div.left{
    text-align: left;
}
span.textStyle{
    color: color($colors, primary, base);
    text-decoration: underline;
}

.circle{
    display:inline-block;   
    width:10%;
    height:10%;
    color:#f5f5f5;
    background: color($colors, primary, base);;
}

img.resize{
    width: 25px;
    height: 25px;
}