<section class="p-grid p-justify-center">
  <div id="brand-list" class="p-col-8">
    <p-confirmDialog [style]="{width: '425px'}"></p-confirmDialog>
    <p-orderList [value]="brands$ | async" class="p-col-8" header="Lista Brand" filterBy="id,name" [listStyle]="{'height': '500px'}">
      <ng-template let-brand pTemplate="item">
        <article class="p-grid">
          <div class="p-col">
            <h4>{{ brand.id }}</h4>
          </div>
          <div class="p-col">
            <h4>{{ brand.name}}</h4>
          </div>
          <div class="p-col">
            <p-splitButton label="Elimina" icon="pi pi-trash" [model]="brandActions(brand.id)" (onClick)="deleteBrand(brand.id)"></p-splitButton>
          </div>
        </article>
      </ng-template>
    </p-orderList>
  </div>
</section>
<p-toast></p-toast>