<section class="p-grid p-justify-center">
  <article class="p-col-8">
    <p-panel>
      <p-header>
        <h3>Inserisci Nuovo Capo</h3>
      </p-header>
      <form [formGroup]="clothingForm" (ngSubmit)="createClothing()" enctype="multipart/form-data">
        <div class="ui-fluid p-col">
            <p-inputMask formControlName="id" mask="a999" placeholder="Id Capo"></p-inputMask>
        </div>
        <div class="ui-fluid p-col">
            <input type="text" pInputText placeholder="Inserisci Nome" formControlName="name">
        </div>
        <div class="ui-fluid p-col">
            <h4>Difettoso?</h4>
            <p-inputSwitch formControlName="defect"></p-inputSwitch>
        </div>
        <div class="ui-fluid p-col">
          <h4>Brand</h4>
          <p-listbox formControlName="brand" [options]="brandList" filter="true" [listStyle]="{'max-height':'250px'}"></p-listbox>
        </div>
        <div class="ui-fluid p-col">
          <h4>Collezione</h4>
          <p-dropdown [options]="collectionList" placeholder="Seleziona una collezione" formControlName="collection"></p-dropdown>
        </div>
        <div class="ui-fluid p-col">
          <h4>Descrizione</h4>
          <textarea pInputTextArea formControlName="description" placeholder="Massimo 100 caratteri" rows="20" style="width:100%"></textarea>
        </div>
        <div class="p-col">
            <h4>Carica Immagine</h4>
            <p-fileUpload mode="basic" auto="true" name="img[]" url="" accept="image/*" customUpload="true" (uploadHandler)="addImage($event)"></p-fileUpload>
        </div>
        <p-footer>
          <button pButton label="Crea Capo" icon="pi pi-check" type="submit"></button>
        </p-footer>
      </form>
    </p-panel>
  </article>
</section>