<section class="grid-x grid-padding-x align-center">
  <form class="cell medium-6 large-6 small-12">
    <fieldset *ngIf="colorModel" class="fieldset">
      <label>Id
        <input type="number" step="1" min="0" required [(ngModel)]="colorModel.id" name="id" #Id="ngModel" placeholder="Inserisci Id">
      </label>
      <label>Colore
        <span [cpToggle]="true" [cpDialogDisplay]="'inline'" [cpCancelButton]="true" 
        [(colorPicker)]="colorModel.hex" [cpCancelButtonClass]="button"></span>
      </label>
      <div class="button-group">
        <input type="submit" value="Modifica" class="button" />
        <input type="reset" value="Annulla" class="button" />
      </div>
    </fieldset>
  </form>
</section>