<section class="grid-x grid-padding-x align-center">
  <form class="cell medium-6 large-6 small-12" *ngIf="collection">
    <fieldset class="fieldset">
      <legend>Modifica Collezione </legend>
      <label>Id
        <input type="number" min="0" placeholder="Inserisci Id" name="id" [(ngModel)]="collection.id" #Id="ngModel"
          required [class.is-invalid-input]="Id.invalid" disabled>
        <div *ngIf="Id.invalid && (Id.dirty || Id.touched)">
          <small *ngIf="Id.errors.required">Id è obbligatorio</small>
          <small *ngIf="Id.errors.min">Id deve essere maggiore di 0</small>
        </div>
      </label>
      <fieldset>
        <legend>Scegli la stagione</legend>
        <input type="radio" name="season" value="Autunno/Inverno" id="winter_season" 
        [(ngModel)]="collection.season" [checked]="collection.season === 'Autunno/Inverno'"/>
        <label for="winter_season">Autunno/Inverno</label>
        <input type="radio" name="season" value="Primavera/Estate" id="summer_season" 
        [(ngModel)]="collection.season" [checked]="collection.season === 'Primavera/Estate'"/>
        <label for="summer_season">Primavera/Estate</label>
      </fieldset>
      <label>Anno
        <select [(ngModel)]="collection.year" [value]="collection.year">
          <option *ngFor="let year of generateYears()" 
          [value]="year" >{{year}}</option>
        </select>
      </label>
      <div class="button-group">
        <input type="submit" class="button" value="Modifica" />
        <input type="reset" class="button" value="Annulla" />
      </div>
    </fieldset>
  </form>
</section>