<section class="p-grid p-justify-center">
  <article class="p-col-8">
    <form [formGroup]="colorForm" (ngSubmit)="editColor()">
      <p-card header="Modifica Colore">
        <p-header>
          <input type="hidden" formControlName="id">
        </p-header>
        <p-colorPicker inline="true" formControlName="hex"></p-colorPicker>
        <p-footer>
          <button pButton label="Modifica" type="submit" icon="pi pi-pencil"></button>
        </p-footer>
      </p-card>
    </form>
  </article>
</section>