<section class="p-grid p-justify-center">
  <article class="p-col-8">
    <form [formGroup]="collectionForm" (ngSubmit)="createCollection()">
      <p-panel>
        <p-header>
          <h3>Inserisci Collezione</h3>
        </p-header>
        <p-fieldset legend="Compila Campi">
          <div class="p-col">
            <h4>Stagione:</h4>
            <p-selectButton formControlName="season" [options]="seasons" optionLabel="name"></p-selectButton>
          </div>
          <div class="ui-fluid p-col">
            <h4>Anno</h4>
            <p-inputMask formControlName="year" mask="9999/9999" placeholder="Inserisci Anno"></p-inputMask>
          </div>
        </p-fieldset>
        <p-footer>
          <button type="submit" pButton icon="pi pi-check" label="Crea Collezione"></button>
        </p-footer>
      </p-panel>
    </form>
  </article>
</section>