<section class="p-grid p-justify-center">
  <article class="p-col-6">
    <p-panel>
      <p-header>
        <h3>Inserisci Collezione</h3>
      </p-header>
      <form [formGroup]="createBrandForm">
        <p-fieldset legend="Inserisci Campi">
          <div class="ui-fluid">
            <input pInputText placeholder="Nome Brand" formControlName="name">
          </div>
        </p-fieldset>
      </form>
      <p-footer>
        <button pButton label="Crea Nuovo Brand" icon="pi pi-check" (click)="createBrand"></button>
      </p-footer>
    </p-panel>
  </article>
</section>