#resourceMenu a {
  color: white;
  font-size: 16px;
}

#resourceMenu h4 {
  color: white;
  font-weight: 600;
  font-style: italic;
}

#info {
  margin-top: 10px;
}

#info * {
  color: white;
  font-style: oblique;
}

#resourceMenu + hr {
  color: white;
}