$menu-font-color: #ffffff;

#resourceMenu {
  a {
    color: $menu-font-color;
    font-size: 16px;
  }

  h4 {
    color: $menu-font-color;
    font-weight: 600;
    font-style: italic;
  }

  + hr {
    color: $menu-font-color;
  } 
}

#info {
  margin-top: 10px;
  * {
    color: $menu-font-color;
    font-style: oblique;
  }
}