<div uk-grid class="uk-grid-small uk-text-center">
  <div class="uk-width-1-2@m">
    <div class="uk-card uk-card-default">
      <h2 class="uk-card-title">Gestione Vestiti</h2>
      <section class="uk-card-body">
        <div class="uk-overflow-auto">
          <table class="uk-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Collezione</th>
                <th>Azioni</th>
              </tr>
            </thead>
            <tbody *ngFor="let cloth of getClothings(); let i=index;">
              <tr>
                <td>{{ cloth.id }}</td>
                <td>{{ cloth.name }}</td>
                <td>{{ cloth.collectionFk }}</td>
                <td>
                  <a class="uk-icon-link" uk-icon="file-edit" uk-tooltip="Modifica Risorsa" (click)="changePendingClothing(i)"></a>
                  <a class="uk-icon-link" uk-icon="trash" uk-tooltip="Elimina Risorsa"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <div class="uk-width-1-2@m">
    <div class="uk-card uk-card-default">
      <section class="uk-card-body">
        <form #clothingForm="ngForm">
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Modifica o Aggiungi Vestito</legend>
            <div class="uk-margin">
              <input class="uk-input" type="text" [(ngModel)]="actualClothing().id" name="id" placeholder="Inserisci id"/>
            </div>
            <div class="uk-margin">
              <input class="uk-input" type="text" [ngModel]="actualClothing().name" name="name" placeholder="Inserisci Nome"/>
            </div>
            <div class="uk-margin">
              <input class="uk-input" type="number" [(ngModel)]="actualClothing().collectionFk" name="collectionFk" placeholder="Inserisci collezione"/>
            </div>
            <div class="uk-margin">
              <input type="submit" class="uk-button-primary uk-button-large" value="Aggiorna" />
              <input type="submit" class="uk-button-primary uk-button-large uk-margin-left" value="Crea" />
            </div>
          </fieldset>
        </form>
      </section>
    </div>
  </div>
</div>