<section class="grid-x grid-padding-x align-center">
  <form class="cell medium-6 large-6 small-12" *ngIf="brandModel">
    <fieldset class="fieldset">
      <legend>Modifica {{ brandModel.name }}</legend>
      <label>Id
        <input type="number" min="0" placeholder="Inserisci Id" name="id" [(ngModel)]="brandModel.id"
         #Id="ngModel" required [class.is-invalid-input]="Id.invalid"/>
         <div *ngIf="Id.invalid && (Id.dirty || Id.touched)">
            <small *ngIf="Id.errors.required">Id è obbligatorio</small>
            <small *ngIf="Id.errors.min">Id deve essere maggiore di 0</small>
          </div>
      </label>
      <label>Nome
        <input type="text" required placeholder="Inserisci Nome" name="name" [(ngModel)]="brandModel.name"
         #Name="ngModel" [class.is-invalid-input]="Id.invalid"/>
         <div *ngIf="Name.invalid && (Name.dirty || Name.touched)">
            <small *ngIf="Name.errors.required">Name è obbligatorio</small>
          </div>
      </label>
      <div class="button-group">
        <input type="submit" class="button" value="Modifica"/>
        <input type="reset" class="button" value="Annulla"/>
      </div>
    </fieldset>
  </form>
</section>