div.end{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;        
}

div.imgDiv{
    margin-top: 50%;
    padding: 10px;
}

.customButton{
    color:#ffffff;
}

.imgCustomQR{
    max-width: 10%;
}

