$color_pumice_approx: #8c0be7;
$color_lochmara_approx: #8c0be7; //primary-color
$color_denim_approx: #116fbf;
$color_endeavour_approx: #005b9f;
$color_mine_shaft_approx: #ffffff;
$white: #ffffff;
$color_shady_lady_approx: #a6a6a6;
$color_log_cabin_approx: #212121;
$color_malibu_approx: #8dcdff;
$color_celeste_approx: #cccccc;
$color_pink_swan_approx: #b7b7b7;
$black_16: rgba(0, 0, 0, 0.16);
$color_geyser_approx: #d8dae2;
$color_gunsmoke_approx: #848484;
$color_gray_nurse_approx: #ca8ced;
$wild_sand: #f4f4f4;
$color_hollywood_cerise_approx: #e4018d;
$color_violet_eggplant_approx: #b5019f;
$color_storm_dust_approx: #666666;
$color_bright_red_approx: #a80000;
$black_15: rgba(0, 0, 0, 0.15);
$color_alto_approx: #dadada;
$color_star_dust_approx: #a0a0a0;
$color_apple_approx: #34a835;
$color_japanese_laurel_approx: #107d11;
$color_celadon_approx: #aae5aa;
$color_selective_yellow_approx: #ffba01;
$color_gamboge_approx: #ed990b;
$color_peach_approx: #ffeab4;
$color_geebung_approx: #d38b10;
$color_torch_red_approx: #e91224;
$color_monza_approx: #c01120;
$color_sundown_approx: #f9b4ba;
$alto: #dbdbdb;
$black_20: rgba(0, 0, 0, 0.2);
$black_14: rgba(0, 0, 0, 0.14);
$black_12: rgba(0, 0, 0, 0.12);
$color_bon_jour_approx: #e0e0e0;
$color_alabaster_approx: #f9f9f9;
$color_prussian_blue_approx: #00325a;
$color_jordy_blue_approx: #7fbcec;
$color_pixie_green_approx: #b7d8b7;
$color_golden_glow_approx: #ffe399;
$black_40: rgba(0, 0, 0, 0.4);
$pure_black: #000000;