<div uk-grid class="uk-grid-small uk-text-center" id="color-table">
  <div class="uk-width-1-2@m">
    <div class="uk-card uk-card-default">
      <h2 class="uk-card-title">Gestione Colori</h2>
      <section class="uk-card-body">
        <div class="uk-overflow-auto">
          <table class="uk-table">
            <thead>
              <tr>
                <th class="uk-table-shrink">Id</th>
                <th>Colore</th>
                <th class="uk-table-shrink">Azioni</th>
              </tr>
            </thead>
            <tbody *ngFor="let color of getColors() | paginate: pgConfig ; let i=index;">
              <tr>
                <td>{{ color.id }}</td>
                <td>
                  <button class="uk-button" [style.background-color]="color.hex">{{ color.hex }}</button>
                </td>
                <td>
                  <a class="uk-icon-link" uk-icon="file-edit" uk-tooltip="Modifica Risorsa"></a>
                  <a class="uk-icon-link" uk-icon="trash" uk-tooltip="Elimina Risorsa"></a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <pagination-controls (pageChange)="pgConfig.currentPage=$event" [id]="pgConfig.id"></pagination-controls>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </section>
    </div>
  </div>
  <div class="uk-width-1-2@m">
    <div class="uk-card uk-card-default">
      <section class="uk-card-body">
        <form #colorForm="ngForm">
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Modifica o Aggiungi Colore</legend>
          </fieldset>
        </form>
      </section>
    </div>
  </div>
</div>