<section class="p-grid p-justify-center">
  <p-confirmDialog [style]="{width: '425px'}"></p-confirmDialog>
  <p-table [value]="colors$ | async" class="p-col-8" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Colore</th>
        <th>Azioni</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-color>
      <tr>
        <td>{{ color.id }}</td>
        <td>
          <div class="preview" [ngStyle]="{'background-color': color.hex }"></div>
        </td>
        <td>
          <button label="Modifica" icon="pi pi-pencil" [routerLink]="['./', color.id]" pButton></button>
          <button label="Elimina" icon="pi pi-trash" pButton (click)="deleteColor(color.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-toast></p-toast>
</section>