<section class="p-grid p-justify-center">
  <article class="p-col-8">
    <form [formGroup]="collectionForm" (ngSubmit)="updateCollection()">
      <p-fieldset legend="Modifica Collezione" [toggleable]="true">
        <div class="ui-fluid p-col">
          <p-spinner formControlName="id"></p-spinner>
        </div>
        <div class="ui-fluid p-col">
          <p-inputMask formControlName="year" mask="9999/9999"></p-inputMask>
        </div>
        <div class="p-col">
          <p-selectButton formControlName="season" [options]="seasons" optionLabel="name"></p-selectButton>
        </div>
        <div class="p-col">
          <button type="submit" pButton label="Modifica Collezione" icon="pi pi-pencil"></button>
        </div>
      </p-fieldset>
    </form>
  </article>
</section>