@import "../../../assets/autentico/variables";

#titlebar {
  background-color: $color_lochmara_approx;
  text-align: center;
  h3 {
    color: $white;
    font-style: italic;
    font-weight: 700;
    margin: 0;
  }
}