<table class="hover unstriped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Stagione</th>
      <th>Anno</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let collection of getResources();">
      <td>{{ collection.id }}</td>
      <td>{{ collection.season }}</td>
      <th>{{ collection.year }}</th>
      <td>
        <a data-tooltip title="Modifica Risorsa" [routerLink]="['./', collection.id]">
          <i class="fi-pencil"></i>
        </a>
        <a data-tooltip title="Elimina Risorsa">
          <i class="fi-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>